<!-- Want to display: movie title and year released and user who created it -->

<h1>Movie Title: <%= @movie.title%> </h1>
<h1>Year Released: <%= @movie.year_released%> </h1>
<h1>Created by: <%= @user.username%> </h1>
