<div class="container" id="new_movie_container">
            <form action="/movies/new" method="POST" class="form-horizontal">
              <div class="form-group">
                <center><h3>Add a Movie</h3></center>
              </div>
              <div class="form-group">
                <label for="title" class="col-md-2 control-label">Movie Title</label>
                <div class="col-md-8">
                  <input type="text" name="title" class="form-control" id="title" placeholder="Enter the movie title herrrrr">
                </div>
              </div>
              <div class="form-group">
                <label for="Year_released" class="col-md-2 control-label">Year Released</label>
                <div class="col-md-8">
                  <input type="text" name="year_released" class="form-control" id="year_released" placeholder="Enter the year the movie was released herrrr">
                </div>
              </div>
              <div class="form-group">
                <label for="moviephoto" class="col-md-2 control-label">Add a Picture</label>
                <div class="col-md-8">
                  <input type="text" name="moviephoto" class="form-control" id="moviephoto" placeholder="Paste a image URL here">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-default">Create New Movie!</button>
                </div>
              </div>
            </form>
</div>